# colcon
build/
install/
log/

# editor / OS
.vscode/
.idea/
.DS_Store

# python
__pycache__/
*.pyc

# rosbag
*.bag
*.db3

# tf2_tools outputs
frames_*.gv
frames_*.pdf

# ignore everything under src, but keep our custom bringup
/src/*
!/src/ur_slam_bringup/
/src/ur_slam_bringup/**
